/* Your external CSS styles go here */

.backcolor{

    background-color:black;
     height: 600px; 
     width:1300px;
     margin-left:  10pxpx auto;
     margin-right:  0px auto;
     
     

}


.menu
{
    float:center;
    width:1000px;
    
    min-height: 50px;
    margin: 0px auto;
    
}

.menu ul
{
    margin: 0px;
    padding: 0px;
}
.menu ul li
{
    float:left;
    list-style: none;
    border-right:1px solid #940b0d50;
    border-left:1px solid #cc32328f;
}

.menu ul li:hover
{
    box-shadow: 0px 2px 10px;
}

.menu ul li:first-child
{
    border-left:0px solid;
}

.menu ul li:last-child
{
    border-right:0px solid;
}

.menu ul li a
{
    text-decoration: none;
    padding:15px 220px;
    display: block;
    color:rgba(255, 0, 0, 0.932);
    font-size: 17px;
    font-family: verdana;
    background-color: black;
}

.menu ul li a:hover
{
    color: rgb(17, 17, 194);
    background-color: rgb(201, 119, 119);
}


h1{
    text-align: center;
    color:green;
    font-size: 80px;
    padding-left: 250px;
    height: 5px;
    width: 10px;
    
}
h3{
    color: rgb(184, 117, 117);
    font-size: 30px;
}

#link{
    text-align: center;
    background-color: black;
}


h2{
    color: rgba(255, 0, 0, 0.781);
}
p{
    color:white;

}



p.paragraph{
    font-size: 20px;
    margin-left: 10px;
}



#table{
    color: rgb(0, 255, 98);
}

#tableInfo{

color: white;
}

.resumeBackColor{
    background-color:black;
    margin-left: 0px;
    padding: 0px;
    text-align:left;
}

#personalInfo{

    margin-left: 10px;
}
#career{
    margin-left: 10px;
}
#education{

    margin-left: 10px;
}

#interest{

    margin-left: 10px;
}
#skills{

    margin-left: 10px;
}

#contact{

    margin-left: 500px;

}

.form{

    background-color:rgb(88, 154, 216); 
    width: 300px;
     height:150px ;
     float:center;
    margin-right:1px;
    margin-bottom: 4px;


}

#fm{

    margin-left: 500px;
    padding-left: 20px;
    padding-bottom:10px;
    padding-top: 15px;
}
#tResumeTitile{

    text-align:center;
    font-size: 60px;
    color: rgb(179, 179, 45);
    padding-top: 10px;
    
}



#singer{

    text-align:center;
    font-size: 30px;
    color: rgb(187, 115, 159);
    padding-top: 0px;
    
}