/* Your external CSS styles go here */

.backcolor{

    background-color:black;
     height: 600px; 
     width:1330px;
     margin-left:  0px auto;
     margin-right:  0px auto;
     padding-top: 0px;
     padding-left: 0px;
     margin-top: 0px;
     
     

}

/*.imag{

    float:right; 
     margin-right:1px; 
     margin-bottom: 10px;
     width:550px;
     height:100px;
     padding-right: 150px;
     padding-bottom: 300px;

     width="500" height="510" 
            style="float:right;  margin-right:1px; margin-bottom: 5px;"
     
}*/


h1{
    text-align: center;
    color:green;
    font-size: 80px;
    padding-left: 290px;
    
    height: 5px;
    width: 10px;
    
}
h3{
    text-align: center;
    color: rgb(184, 117, 117);
    font-size: 30px;
}

#link{
    text-align: center;
    background-color: rgba(212, 11, 11, 0.253);
    height: 150px;
    width: 730px;
    padding-left: 600px;

    
}


h2{
    color: rgba(255, 0, 0, 0.781);
}
p{
    color:white;

}



p.paragraph{
    font-size: 20px;
    margin-left: 10px;
}



#table{
    color: rgb(0, 255, 98);
}

#tableInfo{

color: white;
}

.resumeBackColor{
    background-color:black;
    margin-left: 0px;
    padding: 0px;
    text-align:left;
}

#personalInfo{

    margin-left: 10px;
}
#career{
    margin-left: 10px;
}
#education{

    margin-left: 10px;
}

#interest{

    margin-left: 10px;
}
#skills{

    margin-left: 10px;
}

#contact{

    margin-left: 500px;

}

.form{

    background-color:rgb(88, 154, 216); 
    width: 300px;
     height:150px ;
     float:center;
    margin-right:1px;
    margin-bottom: 4px;


}

#fm{

    margin-left: 500px;
    padding-left: 20px;
    padding-bottom:10px;
    padding-top: 15px;
}
#tResumeTitile{

    text-align:center;
    font-size: 60px;
    color: rgb(179, 179, 45);
    padding-top: 20px;
    
}



#singer{

    text-align:center;
    font-size: 30px;
    color: rgb(187, 115, 159);
    padding-top: 0px;
    
}